a
{
	text-decoration: none;
}

html, body 
{
    height: 100%;
    margin: 0; padding: 0;
}

header
{
	height: 12px;
}

nav
{
	display: flex;
	justify-content: flex-end;
	font-size: 13px;
	text-indent: 14px;
	margin-bottom: 5px;
	align-items: center;
}

.lien_gmail
{
	font-family: Arial, sans-serif, Verdana, Impact;
	color: rgba(0,0,0,0.87);
}

.lien_gmail:hover
{
	text-decoration: underline;
}

.lien_images
{
	font-family: Arial, sans-serif, Verdana, Impact;
	color: rgba(0,0,0,0.87);
}

.lien_images:hover
{
	text-decoration: underline;
}

.applications
{
	margin-left: 2px;
}

.connexion
{
	font-family: Arial, sans-serif, Verdana, Impact;
	font-size: 13px;
	size: 108px, 30px;
	font-weight: bold;
	border: 1px solid #4285f4;
	border-radius: 3px;
	background-color: #4285f4;
	color: white;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	padding: 7px;
	margin-right: 16px;
}

.logogoogle
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 233px;
}

.formulaire
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 44px;
}

.div_barre
{
	display: flex;
	justify-content: center;
	align-items: center;
	height:44px;
	width:584px;
	border: 1px solid #fff;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.barre
{
	font-family: Arial, sans-serif, Verdana, Impact;
	font-size: 16px; 
	height: 34px;
	width: 559px;
	border: none;
	outline: none;
}

.recherches
{
	display: flex;
	justify-content: center;
	height: 76px;
	padding-top: 40px;

}

.google, .chance
{
	display: flex;
	justify-content: center;
	align-self: flex-start;
	height: 36px;
	width: 148px;
	font-family: Arial, sans-serif, Verdana, Impact;
	font-weight: bold;
	color: #757575;
	font-size: 13px; 
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	margin: 11px 4px;
}

.footer 
{
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	position: absolute;
	bottom:0;
	width:100%;
	padding-top:50px;
	height:82px;
	overflow: hidden;

}


.pays
{
	color: red;
}



